<mat-card *ngFor="let quiz of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{quiz.title}}</mat-card-title>
        <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
        <button mat-stroked-button color="accent" [routerLink]="['/navbar/view-questions', quiz.quizId, quiz.title]">Questions</button>
        <button mat-flat-button color="accent" >Delete</button>
    </mat-card-actions>

</mat-card>
<button mat-raised-button color="warn" routerLink="/navbar/add-quiz">Add New Quiz</button>