<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Exam Portal</span>
      <span class="example-spacer"></span>
      <span>{{userName}}</span>
      <button mat-button [matMenuTriggerFor]="myProfileMenu">
        <mat-icon class="mat-icon-profile" >account_circle</mat-icon>
      </button>
      <mat-menu #myProfileMenu>
        <!-- <button mat-menu-item routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button> -->
        <button mat-menu-item routerLink="profile"><mat-icon>edit</mat-icon>Profile</button>
        <button mat-menu-item (click)="signout()"><mat-icon>exit_to_app</mat-icon>Signout</button>
      </mat-menu>
</mat-toolbar>

<!------------------- Side bar  ----------------->
<mat-drawer-container autosize>
  <mat-drawer #myDrawer opened="false" mode="push">
      <mat-nav-list>
          <mat-list-item>
              <button mat-button routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="categories"><mat-icon>category</mat-icon>View Categories</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="view-quiz"><mat-icon>quiz</mat-icon>View Quiz</button>
          </mat-list-item>
          <mat-list-item *ngIf="userRole === 'ADMIN' || userRole === 'TEACHER'">
            <button mat-button routerLink="category"   >
              <mat-icon><span class="material-icons">add_circle_outline</span></mat-icon>Add Category</button>
          </mat-list-item>
          <mat-list-item  *ngIf="userRole === 'ADMIN' || userRole === 'TEACHER'">
            <button mat-button routerLink="add-quiz"  ><mat-icon>menu</mat-icon>Add Quiz</button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button routerLink="dashboard" [matMenuTriggerFor]="examMenu">
              <img src="../../../assets/icons8-exam-16.png" alt="Exam Icon" width="16" height="16">
              Exam
            </button>
            <mat-menu #examMenu>
              <button mat-menu-item *ngFor="let c of categories" [routerLink]="['exam/', c.categoryId]">
                <mat-icon>dashboard</mat-icon>
                {{ c.title }}
              </button>
            </mat-menu>

          </mat-list-item>
          
          <!-- <mat-list-item>
            <button mat-button routerLink="view-questions"><mat-icon>question</mat-icon>View Questions</button>
          </mat-list-item> -->
          
          <mat-list-item>
              <button mat-button routerLink="home"><mat-icon>home</mat-icon>Home</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="setting"><mat-icon>settings</mat-icon>Setting</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="qa"><mat-icon>help</mat-icon>Help</button>
          </mat-list-item>
          <mat-list-item *ngIf="userRole === 'ADMIN'">
            <button mat-button  [routerLink]="'users'">
              <mat-icon>analytics</mat-icon>Analytics
            </button>
        </mat-list-item>
           
          
      </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
      <div style="min-height: 600px; text-align: center;">
          <router-outlet></router-outlet>
          <ngx-ui-loader fgsColor="#ff4081" pbColor="#ff4081" text="Please wait..." ></ngx-ui-loader>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
