<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Exam Portal</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="registration">Edit</button>
      <button mat-button [matMenuTriggerFor]="myProfileMenu">
        <mat-icon class="mat-icon-profile" >account_circle</mat-icon>
      </button>
      <mat-menu #myProfileMenu>
        <button mat-menu-item routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
        <button mat-menu-item routerLink="profile"><mat-icon>edit</mat-icon>Profile</button>
        <button mat-menu-item (click)="signout()"><mat-icon>exit_to_app</mat-icon>Signout</button>
      </mat-menu>
</mat-toolbar>

<!------------------- Side bar  ----------------->
<mat-drawer-container autosize>
  <mat-drawer #myDrawer opened="false" mode="push">
      <mat-nav-list>
          <mat-list-item>
              <button mat-button routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="home"><mat-icon>home</mat-icon>Home</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="profile"><mat-icon>settings</mat-icon>Setting</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="qa"><mat-icon>help</mat-icon>Help</button>
          </mat-list-item>
          <mat-list-item>
              <button mat-button routerLink="users"><mat-icon>analytics</mat-icon>Analytics</button>
          </mat-list-item>
      </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
      <div style="min-height: 600px; text-align: center;">
          <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
