<div style="height: 100vh;"> <!-- Set the height of the container to 100% of the viewport height -->
    <mat-grid-list cols="12" rowHeight="100%"> <!-- Set rowHeight to 100% to make rows occupy the entire container height -->
        <!-- left section -->
        <mat-grid-tile colspan="4">
            <div class="dashboard">
                <div class="user-profile">
                    <img src="https://avatars.githubusercontent.com/u/118649370?v=4" alt="User Profile Image">
                    <h2>{{userName | uppercase}}</h2>
                    <p>"skilled person who can apply the theories and rules of software engineering."</p>
                    <div class="social-media-links">
                        <div class="social-media-link">
                            <img src="../../../assets/linkedin.png" alt="LinkedIn">
                            <a [href]="linkedinLink" target="_blank">{{linkedinName}}</a>
                        </div>
                        <div class="social-media-link">
                            <img src="../../../assets/facebook.png" alt="Facebook">
                            <a [href]="facebookLink" target="_blank">{{facebookName}}</a>
                        </div>
                        <div class="social-media-link">
                            <img src="../../../assets/github.png" alt="GitHub">
                            <a [href]="githubLink" target="_blank">{{githubName}}</a>
                        </div>
                        <!-- Add more social media links as needed -->
                    </div>
                    
                </div>
                <div class="achievements">
                    <h2>Achievements</h2>
                    <ul>
                        <li>Completed Project X</li>
                        <li>Contributed to Open Source Project Y</li>
                        <li>Reached 1000 Followers</li>
                        <!-- Add more achievements as needed -->
                    </ul>
                </div>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile colspan="8" class="awesome-grid-tile">
            <div class="content-wrapper">
                <div class="image-container">
                    <img src="../../../assets/programming.jpg" alt="Awesome Image">
                </div>
                <div class="text-container">
                    <h2 class="title">Discover the Extraordinary</h2>
                    <p class="description">Immerse yourself in a world of wonders where innovation meets elegance.</p>
                    <button class="cta-button">Explore Now</button>
                </div>
            </div>
        </mat-grid-tile>
        
    </mat-grid-list>
</div>
