<h1 mat-dialog-title>{{inputData.title}}</h1>
<div mat-dialog-content>
    
<form >
    <mat-card>
        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Mohacel" formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="Ex. Hosen" formControlName="lastName">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="mohacel@example.com" formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
            </div>

            <div class="row">
                <mat-radio-group aria-label="Gender" formControlName="gender">
                    <mat-label style="font-size: 16px; margin-left: 15px;">Gender</mat-label>
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="others">Others</mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select Designation</mat-label>
                    <mat-select formControlName="designation">
                        <mat-option value="student">Student</mat-option>
                        <mat-option value="teacher">Teacher</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>

    </mat-card>
    
</form>
</div>
<div mat-dialog-actions>
<button mat-raised-button color="accent" (click)="closePopUp()">Close</button>
<button mat-raised-button color="warn" mat-dialog-close>Cancle</button>
</div>
