
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
        <mat-card class="login-card">
          <mat-card-header>
            <mat-card-title>Login to Your Account</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="mohacel@example.com" formControlName="email">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </div>
          </mat-card-content>
      
          <mat-card-actions>
            <div class="row">
                <button mat-raised-button color="primary" type="submit">Login</button>
                <button mat-raised-button color="accent" routerLink="/registration" >Create Account</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      
    
</form>