form{
    background: lightslategray;
}
mat-card{
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}

.row {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 100%;
    }
    
  }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 300px;
  }
  