<mat-card *ngFor="let quiz of quizzes">
    <mat-card-content *ngIf="quiz.isActive == true">
        <mat-card-header >
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{quiz.title}}</mat-card-title>
            <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-actions >

            <button mat-stroked-button color="accent" >Max Marks: {{quiz.maxMarks}} </button>
            <button mat-stroked-button color="accent" >No. Questions: {{quiz.numberOfQuestions}}</button>
            <button mat-flat-button color="accent" [routerLink]="['/navbar/exam-start', quiz.quizId]">Start</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>
<button mat-raised-button color="warn" routerLink="/navbar/add-quiz">Add New Quiz</button>