<mat-card *ngFor="let q of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{q.title}}</mat-card-title>
        <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{q.description}}</mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="accent" >Max Marks: {{q.maxMarks}}</button>
        <button mat-stroked-button color="accent" >Questions: {{q.numberOfQuestions}}</button>
        <button mat-flat-button color="accent" >Delete</button>
        <button mat-flat-button color="accent" >Attempts</button>
    </mat-card-actions>

</mat-card>
<button mat-raised-button color="warn" routerLink="/navbar/add-quiz">Add New Quiz</button>